<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>G School - Classrooms</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">G School</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <h4>Edit <%= sObject.name %>'s Profile</h4>
    <div class="col s12 path">
      <ul>
        <li><a href="/">Home</a></li>
        <li>></li>
        <li><a href="/classrooms">Classrooms</a></li>
        <li>></li>
        <li><a href="/classroom/<%= mainObject.id %>">Classroom</a></li>
        <li>></li>
        <li>
          <a href="/profile/<%= mainObject.id %>/<%= sObject.id %>">
            <%= sObject.name %>'s Profile</a>
        </li>
        <li>></li>
        <li>Edit</li>
      </ul>
    </div>

    <form id="myForm" action="/edit/<%= mainObject.id %>/" method="post">
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" readonly value="<%= sObject.name %>">
      <br>
      <br>
      <label for="scores">Score:</label>
      <% for(let i=0; i < sObject.scores.length; i++){%>
        <input id="score" type="text" name="scores" size="3" value="<%= sObject.scores[i] %>">
        <% } %>
          <br>
          <br>
          <label for="grade">Grade:</label>
          <input type="text" id="grade" name="grade" size="2" value="<%= sObject.grade %>">
          <br>
          <br>
          <label for="id">ID:</label>
          <input type="text" id="sid" name="id" size="4" readonly value="<%= sObject.id %>">
          <br>
          <br>
          <input id="subBtn" type="submit" value="Update Profile">
    </form>
    <br>
    <br>
  </div>
  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2017, Rahul Sharma
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./js/materialize.js"></script>
  <script src="./js/init.js"></script>

</body>

</html>
</body>

</html>
